
# Defines for building this project
# To be included in all Makefiles

# This will be used as the base path for installtion
prefix = $(PREFIX)

# Must allways be $(PREFIX)/bin because installation depends on it
# Only placed here because it is a common location for all makefiles
link_path = $(PREFIX)/bin

# If BUILD_STATIC is not defined then shared compilation and linking
# will be performed
# If set to yes then static compilation and linking is performed
build_static =
ifeq ($(BUILD_STATIC), yes)
    build_static = -static
endif

# If THREAD_SUPPORT is not defined, then no threading will be compiled into
# the application
# If set to yes then threading support will be compiled into the application
thread_support =
ifeq ($(THREAD_SUPPORT), yes)
    thread_support = -fopenmp
endif

# ----------------------------------------------------------------------------
# Project specific variables, which are common to each project
project_name = espa-cloud-masking
espa_project_dir = $(prefix)/$(project_name)

# Algorithm specific variables
l47_algorithm = l4-7_cfmask
l47_algorithm_dir = $(espa_project_dir)/$(l47_algorithm)

l8_algorithm = l8_cfmask
l8_algorithm_dir = $(espa_project_dir)/$(l8_algorithm)

