
# Defines for building this project
# To be included in all Makefiles

prefix = $(PREFIX)
project_name = espa-cloud-masking
espa_project_dir = $(prefix)/$(project_name)
l47_algorithm_dir = $(espa_project_dir)/l4-7_cfmask
l8_algorithm_dir = $(espa_project_dir)/l8_cfmask

build_type = $(BUILD_TYPE)

